In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

In [3]:
nysed_2024_read = pd.read_csv('data/nysed_2024_preprocessing.csv')
nysed_2024_read.head()

,INSTITUTION_ID,ENTITY_CD,ENTITY_NAME,WEIGHTED_INDEX,ENROLLMENT,ABSENT_COUNT,GRAD_COUNT,COHORT_COUNT,ELA_P_RATE,MATH_P_RATE,PUPIL_COUNT_TOT,FED_STATE_LOCAL_EXP,NUM_TEACH,NUM_TEACH_INEXP,NUM_TEACH_OC,NUM_OUT_CERT
0,800000055743,10100010034,ALBANY HIGH SCHOOL,82.2,3046,1550,549,704,98.9,84.3,2764,94032063,235,63,214,14
1,800000055479,10201040001,BERNE-KNOX-WESTERLO JUNIOR-SENIOR HS,142.3,222,42,47,53,100.0,86.7,326,11481752,41,11,41,1
2,800000055439,10306060008,BETHLEHEM CENTRAL SENIOR HIGH SCHOOL,198.1,1374,155,333,349,99.4,92.1,1373,32156676,110,9,107,1
3,800000055436,10402060001,RAVENA-COEYMANS-SELKIRK SR HS,129.2,530,164,118,133,100.0,87.9,518,13997053,59,24,55,3
4,800000055426,10500010007,COHOES HIGH SCHOOL,94.0,619,326,109,132,100.0,81.0,593,14868772,52,8,51,0